*{
    font-family: Tahoma, Geneva, sans-serif; 
}
html,body{
    overflow-x:hidden;
}
body{
    margin:0px;
    background-color:white;
}
#listheader{    
    margin:0px;
    padding:6px;
}
#listheadercontent{
    margin:0px;
    padding:0px;
}
#listheadercontainer{    
    user-select: none;
    margin:0 auto;
    display:table;
    padding:0px;
    white-space: nowrap;
    max-width: 500px;
}
#list{
    margin:0 auto;
    display:block;
    background-color: #dddddd;
    padding:20px;
    border-radius:15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:10px;
}
.event{
    display:block;
    background-color:white;
    padding:20px;
    margin: 5px 0px;
    cursor: auto;
    font-size:16px;
}
[contenteditable=true]:empty::before{
    content:"Click to Type Here";
    color:lightgrey;
}
#listheader:empty::before{
    content:"To-Do Lists" !important;
    color:black !important;
}
#clear{
    margin-right:0px;
}
.deleteEvent{
    border: solid 2px red;
    cursor: pointer !important;
    -webkit-transition: font 0.5s;
    transition: font 0.5s;
}
.deleteEvent:hover{
    font-size:20px;
}
.buttonSelected{
    background-color:#FF4136;
    color:white !important;
    font-size:16px;
}
.buttonSelected:hover{
    background-color:red;
    color:white !important;
    font-size:16px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight:normal !important;
}
p{
    font-size:18px;
}
article{
    margin:0 auto;
    padding:5px 10%;
    background-color:white;
    color:black !important;
}
footer{
    background-color:#eeeeee;
    padding: 15px 10px;
}
a.link{
    text-decoration:underline;
    color:#0000EE;
    padding:0px;
    margin:0px;
    background-color: rgba(255,255,255,0);
}
a.link:hover{
	background-color:#FF4136;
}
a.link:visited{
	color:#0000EE;
}
button{	
    font-size:16px;
    border-style: solid;
    border:none;
    margin-right:4px;
    cursor: pointer;
    background-color:white;
    padding:15px 25px;
    color:black;
    display:block;
    text-decoration:none;
    display:inline-block;
    -webkit-transition-property: background, color;
    -webkit-transition-duration:0.4s;
    transition-property: background, color;
    transition-duration:0.4s;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */ 
    float:left;
}
button:hover{
    background-color:#e5e5e5;
    color:black;
}
button:visited{
    color:black;
}
button:active{
    background-color:red;
    color:white;
}

.floatl{
    float:left;
}
.floatr{
    float:right;
}
.clearl{
    clear:left;
}
.clearr{
    clear:right;
}
.clear{
    clear:both;
}
.tableleft{
    display:table;
    float:left;
}
.tableright{
    display:table;
    float:right;
}
.hidden{
    display:none;
}
.dropdown{
    display:inline-block;
    float:left;
}
.dropdownbutton{
    float:none !important;
}
.dropdownitems{
    display:none;
    transition: all .25s ease;        
}
.dropdown:hover .dropdownitems {
    display: block !important;
}
.dropdownitem{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    float: none;
}
.absolute{
    position: absolute;
}
#loading{
    background-color: white;
}
.list{
    background-color: #f7f7f7;
}
.close{
    position:relative;
}
@media screen and (max-width: 1090px){
    #listheadercontainer{    
        user-select: none;
	position:static;
	left: auto;
	transform: none;
	margin:2px auto;
	padding:0px;
	white-space: nowrap;
	max-width:none;
	width: 100%;
    }   
    button:not(.dropdownitem){
        margin-right:2px;
        margin-bottom:4px;
        font-size:16px;
        width:75px;
        height:40px;
        line-height: 40px;
        text-align:center;
        display:inline-block;
        padding:0px;
    }
    .buttonSelected{
      background-color:#FF4136;
      color:white !important;
      font-size:16px !important;
    }
    div{
    	display:block;
    }
    .event{
    	padding:15px;
        font-size:16px !important;
    }
    .dropdownitem{
    	margin-top:-4px;
    	padding:5px;
	width:75px;
        height:35px;
      	font-size:12px;
    }
}
@media screen and (max-width: 615px){
    #listheadercontainer{    
        user-select: none;
	position:static;
	left: auto;
	transform: none;
	margin:2px 0;
	padding:0px;
	white-space: nowrap;
    }   
    #donecontainer{
        float: left;
    }
    button:not(.dropdownitem){
        margin-right:4px;
        margin-bottom:4px;
        font-size:12px;
        width:50px;
        height:25px;
        line-height: 25px;
        text-align:center;
        display:inline-block;
        padding:0px;
    }
    .buttonSelected{
      background-color:#FF4136;
      color:white !important;
      font-size:12px !important;
    }
    div{
    	display:block;
    }
    .tableleft{
    	display:inline !important;
	float:none !important;
    }
    .tableright{
    	display:inline !important;
	float:none !important;
    }
    .event{
    	padding:10px;
        font-size:16px !important;
    }
    .dropdown{
    	display: inline;
    }
    .dropdownitem{
    	margin-top:-4px;
    	padding:5px;
      	font-size:12px;
    }
}

